    <div class="col-lg-9" style="padding-left:0px">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>查询结果</h5>
                    </div>

                    <div class="ibox-content">
                    <div id="Pagination" class="pagination" style="margin-bottom:30px"></div>
                    <div class="row" id="chart"></div>
                    <div id="Pagination" class="pagination" style="margin-top:30px"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>